.input-control {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  padding: .5vw .75vw;

  &__input {
    display: block;

    height: 100%;
    width: 100%;

    font-size: .8vw;
    font-weight: 500;
    
    color: white;
    background: none;
    outline: none;

    border: none;
  }
}