.slider-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5vw;

  font-size: .8vw;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 0 1vw;

  border-radius: .1vw;
}
