.image-slot {
  position: relative;
  width: 7.2vw;
  height: 8.65vw;

  padding: 0.5vw;

  background: rgba(0, 0, 0, 0.35);
  border-radius: 0.2vw;

  cursor: pointer;

  &__title {
    color: white;
    font-weight: 500;
    font-size: .85vw;
  }

  &__indicator {
    position: absolute;

    width: 70%;

    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    fill: white;
    filter: drop-shadow(0px 0px 2vw white);

    transition: all 200ms ease-out;

    &_active {
      fill: #ff6d35;
      filter: drop-shadow(0px 0px 2vw #ff6d35);
    }
  }

  &__image {
    position: absolute;

    max-width: 80%;
    max-height: 80%;
    object-fit: contain;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
